[IPFS]
URL = http://127.0.0.1
Port = 5001
VersionPrefix = api/v0
Timeout = 30.0
UnpinOld = True
Republish = True
IPNSTTLString = 24h
CIDVersion = 1
IPFSChunker = size-262144
# UserName = user
# UserPassword = password
